body{
  margin: 0;
  padding: 0;
  overflow:hidden;
}

#container{
  width: 100%;
  height: 100vh;
  background-position: center;
  display: grid;
  position: relative;
  perspective: 600px;
}

img{
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#shape{
  position: absolute;
  width: 150px;
  height: 250px;
  background: #C70000;
  opacity: 0.5;
  filter: blur(26px);
  background-blend-mode: luminosity;
  }
